﻿@page "/identityserver/api-resources"
@attribute [Authorize(AbpIdentityServerPermissions.ApiResource.Default)]
@using Volo.Abp.IdentityServer.ApiResource
@using Volo.Abp.IdentityServer.ApiResource.Dtos
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.IdentityServer.Localization
@inject AbpBlazorMessageLocalizerHelper<AbpIdentityServerResource> LH

@inherits AbpCrudPageBase<IApiResourceAppService, ApiResourceWithDetailsDto, Guid, GetApiResourceListInput, CreateApiResourceDto, UpdateApiResourceDto>

@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["ApiResources"]" BreadcrumbItems="@BreadcrumbItems">
    @if (HasCreatePermission)
    {
        <Column ColumnSize="ColumnSize.IsAuto" Class="px-1 pt-2">
            <Button Color="Color.Primary" Clicked="OpenCreateModalAsync">
                <Icon Name="IconName.Add" Class="mr-1"></Icon> @L["CreateANewResource"]
            </Button>
        </Column>
    }
</PageHeader>

@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
        <Form Class="page-search-form" id="SearchForm">
            <Fields Horizontal="true">
                <Field ColumnSize="ColumnSize.Is11" class="mb-0">
                    <TextEdit Placeholder="@L["Search"]" @bind-Text="@GetListInput.Filter" Autofocus="true" />
                </Field>
                <Field ColumnSize="ColumnSize.Is1" class="mb-0">
                    <SubmitButton Form="SearchForm" Block="true" Clicked="@GetEntitiesAsync">
                        <Icon Name="IconName.Search" />
                    </SubmitButton>
                </Field>
            </Fields>
        </Form>
    </CardBody>
</Card>

@* ************************* DATA GRID ************************* *@
<DataGrid TItem="ApiResourceWithDetailsDto"
          Data="Entities"
          ReadData="OnDataGridReadAsync"
          TotalItems="TotalCount"
          ShowPager="true"
          PageSize="PageSize">
    <DataGridColumns>
        <DataGridEntityActionsColumn TItem="ApiResourceWithDetailsDto" @ref="@EntityActionsColumn">
            <DisplayTemplate>
                <EntityActions TItem="ApiResourceWithDetailsDto" EntityActionsColumn="@EntityActionsColumn">
                    <EntityAction TItem="ApiResourceWithDetailsDto"
                                  RequiredPolicy="@UpdatePolicyName"
                                  Clicked="() => OpenEditModalAsync(context)"
                                  Text="@L["Edit"]">
                    </EntityAction>
                    <EntityAction TItem="ApiResourceWithDetailsDto"
                                  RequiredPolicy="@DeletePolicyName"
                                  Clicked="() => DeleteEntityAsync(context)"
                                  ConfirmationMessage="() => GetDeleteConfirmationMessage(context)"
                                  Text="@L["Delete"]">
                    </EntityAction>
                </EntityActions>
            </DisplayTemplate>
        </DataGridEntityActionsColumn>
        <DataGridColumn TItem="ApiResourceWithDetailsDto" Field="@nameof(ApiResourceWithDetailsDto.Name)" Caption="@L["Name"].Value">
            <DisplayTemplate>
                @context.Name
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="ApiResourceWithDetailsDto" Field="@nameof(ApiResourceWithDetailsDto.DisplayName)" Caption="@L["DisplayName"].Value">
            <DisplayTemplate>
                @context.DisplayName
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="ApiResourceWithDetailsDto" Field="@nameof(ApiResourceWithDetailsDto.Description)" Caption="@L["Description"].Value">
            <DisplayTemplate>
                @context.Description
            </DisplayTemplate>
        </DataGridColumn>
    </DataGridColumns>
</DataGrid>

@* ************************* CREATE MODAL ************************* *@
@if (HasCreatePermission)
{
    <Modal @ref="CreateModal">
        <ModalBackdrop/>
        <ModalContent IsCentered="true" Size="ModalSize.Large">
            <Form Class="form-with-card" id="CreateForm">
                <ModalHeader>
                    <ModalTitle>@L["Create"].Value</ModalTitle>
                    <CloseButton Clicked="CloseCreateModalAsync"/>
                </ModalHeader>
                <ModalBody>
                    <Tabs SelectedTab="@SelectedTab" SelectedTabChanged="@OnSelectedTabChanged">
                        <Items>
                            <Tab Name="info">@L["Info"].Value</Tab>
                            <Tab Name="claims">@L["Claims"].Value</Tab>
                        </Items>
                        <Content>
                            <Validations @ref="@CreateValidationsRef" Model="@NewEntity" ValidateOnLoad="false">
                                <TabPanel Name="info">
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["Name"]</FieldLabel>
                                            <TextEdit @bind-Text="NewEntity.Name" Autofocus="true">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["DisplayName"]</FieldLabel>
                                            <TextEdit @bind-Text="NewEntity.DisplayName">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["Description"]</FieldLabel>
                                            <TextEdit @bind-Text="NewEntity.Description">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["AllowedAccessTokenSigningAlgorithms"]</FieldLabel>
                                            <TextEdit @bind-Text="NewEntity.AllowedAccessTokenSigningAlgorithms">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Field>
                                        <Check TValue="bool" @bind-Checked="NewEntity.ShowInDiscoveryDocument">@L["ShowInDiscoveryDocument"]
                                        </Check>
                                    </Field>
                                </TabPanel>
                                <TabPanel Name="claims">
                                    <Row>
                                        <Column size="_6">
                                            <Card>
                                                <CardHeader>@L["OwnedClaims"]</CardHeader>
                                                <CardBody class="custom-body">
                                                    @foreach (var claimType in OwnedApiResourceClaimTypes)
                                                    {
                                                        <Button Class="btn btn-block btn-primary btn-sm mb-2 mt-0 text-truncate text-left"
                                                                Clicked="() => MoveClaimType(false, claimType)">
                                                            <Icon class="fa-arrow-right"></Icon> @claimType
                                                        </Button>
                                                    }
                                                </CardBody>
                                            </Card>
                                        </Column>
                                        <Column size="_6">
                                            <Card>
                                                <CardHeader>@L["NotOwnedClaims"]</CardHeader>
                                                <CardBody class="custom-body">
                                                    @foreach (var claimType in AllApiResourceClaimTypes)
                                                    {
                                                        <Button Class="btn btn-block btn-outline-primary btn-sm mb-2 mt-0 text-truncate text-left"
                                                                Clicked="() => MoveClaimType(true, claimType)">
                                                            <Icon class="fa-arrow-left"></Icon> @claimType
                                                        </Button>
                                                    }
                                                </CardBody>
                                            </Card>
                                        </Column>
                                    </Row>
                                </TabPanel>
                            </Validations>
                        </Content>
                    </Tabs>
                </ModalBody>
                <ModalFooter>
                    <Button Color="Color.Secondary" Clicked="CloseCreateModalAsync">@L["Cancel"]</Button>
                    <SubmitButton Form="CreateForm" Clicked="@CreateEntityAsync" />
                </ModalFooter>
             </Form>
        </ModalContent>
    </Modal>
}

@* ************************* CREATE MODAL ************************* *@
@if (HasUpdatePermission)
{
    <Modal @ref="EditModal">
        <ModalBackdrop/>
        <ModalContent IsCentered="true" Size="ModalSize.Large">
            <Form Class="form-with-card" id="EditForm">
                <ModalHeader>
                    <ModalTitle>@L["Edit"].Value</ModalTitle>
                    <CloseButton Clicked="CloseEditModalAsync"/>
                </ModalHeader>
                <ModalBody>
                    <Tabs SelectedTab="@SelectedTab" SelectedTabChanged="@OnSelectedTabChanged">
                        <Items>
                            <Tab Name="info">@L["Info"].Value</Tab>
                            <Tab Name="claims">@L["Claims"].Value</Tab>
                            <Tab Name="secrets">@L["Secrets"].Value</Tab>
                            <Tab Name="properties">@L["Properties"].Value</Tab>
                        </Items>
                        <Content>
                            <Validations @ref="@EditValidationsRef" Model="@EditingEntity" ValidateOnLoad="false">
                                <TabPanel Name="info">
                                     <Field>
                                        <FieldLabel>@L["Name"]</FieldLabel>
                                        <TextEdit Disabled="true" @bind-Text="EditingApiResourceName"/>
                                    </Field>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["DisplayName"]</FieldLabel>
                                            <TextEdit @bind-Text="EditingEntity.DisplayName" Autofocus="true">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["Description"]</FieldLabel>
                                            <TextEdit @bind-Text="EditingEntity.Description">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["AllowedAccessTokenSigningAlgorithms"]</FieldLabel>
                                            <TextEdit @bind-Text="EditingEntity.AllowedAccessTokenSigningAlgorithms">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Field>
                                        <Check TValue="bool" @bind-Checked="EditingEntity.Enabled">@L["Enabled"]
                                        </Check>
                                    </Field>
                                    <Field>
                                        <Check TValue="bool" @bind-Checked="EditingApiResourceShowInDiscoveryDocument">@L["ShowInDiscoveryDocument"]
                                        </Check>
                                    </Field>
                                    @L["Scopes"]
                                    <Select TValue="string" @bind-SelectedValues="@EditingScopes" Multiple="true">
                                        @foreach (var item in SelectScopeItems)
                                        {
                                            <SelectItem Value="@item.Value">@item.Name</SelectItem>
                                        }
                                    </Select>
                                </TabPanel>
                                <TabPanel Name="claims">
                                    <Row>
                                        <Column size="_6">
                                            <Card>
                                                <CardHeader>@L["OwnedClaims"]</CardHeader>
                                                <CardBody class="custom-body">
                                                    @foreach (var claimType in OwnedApiResourceClaimTypes)
                                                    {
                                                        <Button Class="btn btn-block btn-primary btn-sm mb-2 mt-0 text-truncate text-left"
                                                                Clicked="() => MoveClaimType(false, claimType)">
                                                            <Icon class="fa-arrow-right"></Icon> @claimType
                                                        </Button>
                                                    }
                                                </CardBody>
                                            </Card>
                                        </Column>
                                        <Column size="_6">
                                            <Card>
                                                <CardHeader>@L["NotOwnedClaims"]</CardHeader>
                                                <CardBody class="custom-body">
                                                    @foreach (var claimType in AllApiResourceClaimTypes)
                                                    {
                                                        <Button Class="btn btn-block btn-outline-primary btn-sm mb-2 mt-0 text-truncate text-left"
                                                                Clicked="() => MoveClaimType(true, claimType)">
                                                            <Icon class="fa-arrow-left"></Icon> @claimType
                                                        </Button>
                                                    }
                                                </CardBody>
                                            </Card>
                                        </Column>
                                    </Row>
                                </TabPanel>
                                 <TabPanel Name="secrets">
                                        <Card class="bg-light shadow-none mb-3">
                                            <CardBody>
                                                <Row>
                                                    <Column size="_6">
                                                        <Field>
                                                            <FieldLabel>@L["Type"]</FieldLabel>
                                                            <Select TValue="string" @bind-SelectedValue="@EditingApiResourceSecret.Type">
                                                                @foreach (var item in SelectSecretTypeItems)
                                                                {
                                                                    <SelectItem Value="@item.Value">@item.Name</SelectItem>
                                                                }
                                                            </Select>
                                                        </Field>
                                                        <Field>
                                                            <FieldLabel>@L["Value"]</FieldLabel>
                                                            <TextEdit @bind-Text="@EditingApiResourceSecret.Value"/>
                                                        </Field>
                                                    </Column>
                                                    <Column size="_6">
                                                        <Field>
                                                            <FieldLabel>@L["Description"]</FieldLabel>
                                                            <TextEdit @bind-Text="@EditingApiResourceSecret.Description"></TextEdit>
                                                        </Field>
                                                        <Field>
                                                            <FieldLabel>@L["Expiration"]</FieldLabel>
                                                            <DateEdit TValue="DateTime?" @bind-Date="@EditingApiResourceSecret.Expiration"/>
                                                        </Field>
                                                    </Column>
                                                </Row>
                                                <Button Color="@Color.Primary" Size="Size.Small" Class="float-right"
                                                        Clicked="AddEditingSecret">
                                                    <Icon class="fa fa-plus"></Icon>
                                                    @L["AddNew"]
                                                </Button>
                                            </CardBody>
                                        </Card>
                                        @if (EditingEntity?.Secrets?.Any() == true)
                                        {
                                            <Table hoverable-rows="true" responsive-sm="true">
                                                <TableHeader>
                                                    <TableRow>
                                                        <TableHeaderCell>@L["Type"]</TableHeaderCell>
                                                        <TableHeaderCell>@L["Value"]</TableHeaderCell>
                                                        <TableHeaderCell>@L["Description"]</TableHeaderCell>
                                                        <TableHeaderCell>@L["Expiration"]</TableHeaderCell>
                                                        <TableHeaderCell></TableHeaderCell>
                                                    </TableRow>
                                                </TableHeader>
                                                <TableBody>
                                                    @foreach (var secret in EditingEntity.Secrets)
                                                    {
                                                        <TableRow>
                                                            <TableRowCell>@secret.Type</TableRowCell>
                                                            <TableRowCell Class="text-truncate" style="max-width: 150px;">@secret.Value</TableRowCell>
                                                            <TableRowCell Class="text-truncate" style="max-width: 150px;">@secret.Description</TableRowCell>
                                                            <TableRowCell>@secret.Expiration</TableRowCell>
                                                            <TableRowCell><span class="btn btn-outline-danger float-right deleteSecretButton"
                                                                                @onclick="() => RemoveEditingSecret(secret)"><Icon class="fa fa-trash"></Icon></span></TableRowCell>
                                                        </TableRow>
                                                    }
                                                </TableBody>
                                            </Table>
                                        }
                                </TabPanel>
                                <TabPanel Name="properties">
                                    <h3>@L["Properties"]</h3>
                                    <div class="pt-3 pb-5 clearfix">
                                        <Row>
                                            <Column size="_6">
                                                <Field>
                                                    <FieldLabel>@L["Key"].Value</FieldLabel>
                                                    <TextEdit @bind-Text="@EditingApiResourceProperty.Key"/>
                                                </Field>
                                            </Column>
                                            <Column size="_6">
                                                <Field>
                                                    <FieldLabel>@L["Value"].Value</FieldLabel>
                                                    <TextEdit @bind-Text="@EditingApiResourceProperty.Value"/>
                                                </Field>
                                            </Column>
                                        </Row>
                                        <Button Color="Color.Primary" Size="Size.Small" Class="float-right mb-2" Clicked="AddEditingApiResourceProperty">
                                            <Icon class="fa fa-plus"></Icon> @L["AddNew"]
                                        </Button>
                                    </div>
                                    @if (EditingEntity?.Properties?.Any() == true)
                                    {
                                        <Table striped-rows="true" responsive-sm="true">
                                            <TableHeader>
                                                <TableRow>
                                                    <TableHeaderCell>@L["Key"]</TableHeaderCell>
                                                    <TableHeaderCell>@L["Value"]</TableHeaderCell>
                                                    <TableHeaderCell></TableHeaderCell>
                                                </TableRow>
                                            </TableHeader>
                                            <TableBody>
                                                @foreach (var apiResourceProperty in EditingEntity.Properties)
                                                {
                                                    <TableRow>
                                                        <TableRowCell>@apiResourceProperty.Key</TableRowCell>
                                                        <TableRowCell>@apiResourceProperty.Value</TableRowCell>
                                                        <TableRowCell>
                                                            <span class="btn btn-danger btn-sm float-right"
                                                                  @onclick="() => RemoveEditingApiResourceProperty(apiResourceProperty)"><Icon Class="fa fa-trash"></Icon></span></TableRowCell>
                                                    </TableRow>
                                                }
                                            </TableBody>
                                        </Table>
                                    }
                                </TabPanel>
                            </Validations>
                        </Content>
                    </Tabs>
                </ModalBody>
                <ModalFooter>
                    <Button Color="Color.Secondary" Clicked="CloseEditModalAsync">@L["Cancel"]</Button>
                    <SubmitButton Form="EditForm" Clicked="@UpdateEntityAsync" />
                </ModalFooter>
             </Form>
        </ModalContent>
    </Modal>
}
