﻿@page "/identityserver/api-scopes"
@attribute [Authorize(AbpIdentityServerPermissions.ApiScope.Default)]
@using Volo.Abp.IdentityServer.ApiScope
@using Volo.Abp.IdentityServer.ApiScope.Dtos
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.IdentityServer.Localization
@using Volo.Abp.AuditLogging.Blazor.Components
@inject AbpBlazorMessageLocalizerHelper<AbpIdentityServerResource> LH

@inherits AbpCrudPageBase<IApiScopeAppService, ApiScopeWithDetailsDto, Guid, GetApiScopeListInput, CreateApiScopeDto, UpdateApiScopeDto>

@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["ApiScopes"]" BreadcrumbItems="@BreadcrumbItems">
    @if (HasCreatePermission)
    {
        <Column ColumnSize="ColumnSize.IsAuto" Class="px-1 pt-2">
            <Button Color="Color.Primary" Clicked="OpenCreateModalAsync">
                <Icon Name="IconName.Add" Class="mr-1"></Icon> @L["CreateANewScope"]
            </Button>
        </Column>
    }
</PageHeader>

@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
        <Form Class="page-search-form" id="SearchForm">
            <Fields Horizontal="true">
                <Field ColumnSize="ColumnSize.Is11" class="mb-0">
                    <TextEdit Placeholder="@L["Search"]" @bind-Text="@GetListInput.Filter" Autofocus="true" />
                </Field>
                <Field ColumnSize="ColumnSize.Is1" class="mb-0">
                    <SubmitButton Form="SearchForm" Block="true" Clicked="@GetEntitiesAsync">
                        <Icon Name="IconName.Search" />
                    </SubmitButton>
                </Field>
            </Fields>
        </Form>
    </CardBody>
</Card>

@* ************************* DATA GRID ************************* *@
<DataGrid TItem="ApiScopeWithDetailsDto"
          Data="Entities"
          ReadData="OnDataGridReadAsync"
          TotalItems="TotalCount"
          ShowPager="true"
          PageSize="PageSize">
    <DataGridColumns>
        <DataGridEntityActionsColumn TItem="ApiScopeWithDetailsDto" @ref="@EntityActionsColumn">
            <DisplayTemplate>
                <EntityActions TItem="ApiScopeWithDetailsDto" EntityActionsColumn="@EntityActionsColumn">
                    <EntityAction TItem="ApiScopeWithDetailsDto"
                                  RequiredPolicy="@UpdatePolicyName"
                                  Clicked="() => OpenEditModalAsync(context)"
                                  Text="@L["Edit"]">
                    </EntityAction>
                    <EntityAction TItem="ApiScopeWithDetailsDto"
                                   RequiredPolicy="@AbpIdentityServerPermissions.ApiScope.ViewChangeHistory"
                                   Clicked="() => EntityChangeHistoryModal.OpenAsync(EntityTypeFullName, context.Id.ToString())"
                                   Text="@L["Permission:ViewChangeHistory"]">
                    </EntityAction>
                    <EntityAction TItem="ApiScopeWithDetailsDto"
                                  RequiredPolicy="@DeletePolicyName"
                                  Clicked="() => DeleteEntityAsync(context)"
                                  ConfirmationMessage="() => GetDeleteConfirmationMessage(context)"
                                  Text="@L["Delete"]">
                    </EntityAction>
                </EntityActions>
            </DisplayTemplate>
        </DataGridEntityActionsColumn>
        <DataGridColumn TItem="ApiScopeWithDetailsDto" Field="@nameof(ApiScopeWithDetailsDto.Name)" Caption="@L["Name"].Value">
            <DisplayTemplate>
                @context.Name
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="ApiScopeWithDetailsDto" Field="@nameof(ApiScopeWithDetailsDto.DisplayName)" Caption="@L["DisplayName"].Value">
            <DisplayTemplate>
                @context.DisplayName
            </DisplayTemplate>
        </DataGridColumn>
        <DataGridColumn TItem="ApiScopeWithDetailsDto" Field="@nameof(ApiScopeWithDetailsDto.Description)" Caption="@L["Description"].Value">
            <DisplayTemplate>
                @context.Description
            </DisplayTemplate>
        </DataGridColumn>
    </DataGridColumns>
</DataGrid>

@* ************************* CREATE MODAL ************************* *@
@if (HasCreatePermission)
{
    <Modal @ref="CreateModal">
        <ModalBackdrop/>
        <ModalContent IsCentered="true" Size="ModalSize.Large">
            <Form Class="form-with-card" id="CreateForm">
                <ModalHeader>
                    <ModalTitle>@L["Create"].Value</ModalTitle>
                    <CloseButton Clicked="CloseCreateModalAsync"/>
                </ModalHeader>
                <ModalBody>
                    <Tabs SelectedTab="@SelectedTab" SelectedTabChanged="@OnSelectedTabChanged">
                        <Items>
                            <Tab Name="info">@L["Info"].Value</Tab>
                            <Tab Name="claims">@L["Claims"].Value</Tab>
                        </Items>
                        <Content>
                            <Validations @ref="@CreateValidationsRef" Model="@NewEntity" ValidateOnLoad="false">
                                <TabPanel Name="info">
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["Name"]</FieldLabel>
                                            <TextEdit @bind-Text="NewEntity.Name" Autofocus="true">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["DisplayName"]</FieldLabel>
                                            <TextEdit @bind-Text="NewEntity.DisplayName">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["Description"]</FieldLabel>
                                            <TextEdit @bind-Text="NewEntity.Description">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Field>
                                        <Check TValue="bool" @bind-Checked="NewEntity.Required">@L["Required"]
                                        </Check>
                                    </Field>
                                    <Field>
                                        <Check TValue="bool" @bind-Checked="NewEntity.Enabled">@L["Enabled"]
                                        </Check>
                                    </Field>
                                    <Field>
                                        <Check TValue="bool" @bind-Checked="NewEntity.ShowInDiscoveryDocument">@L["ShowInDiscoveryDocument"]
                                        </Check>
                                    </Field>
                                    <Field>
                                        <Check TValue="bool" @bind-Checked="NewEntity.Emphasize">@L["Emphasize"]
                                        </Check>
                                    </Field>
                                </TabPanel>
                                <TabPanel Name="claims">
                                    <Row>
                                        <Column size="_6">
                                            <Card>
                                                <CardHeader>@L["OwnedClaims"]</CardHeader>
                                                <CardBody class="custom-body">
                                                    @foreach (var claimType in OwnedApiScopesClaimTypes)
                                                    {
                                                        <Button Class="btn btn-block btn-primary btn-sm mb-2 mt-0 text-truncate text-left"
                                                                Clicked="() => MoveClaimType(false, claimType)">
                                                            <Icon class="fa-arrow-right"></Icon> @claimType
                                                        </Button>
                                                    }
                                                </CardBody>
                                            </Card>
                                        </Column>
                                        <Column size="_6">
                                            <Card>
                                                <CardHeader>@L["NotOwnedClaims"]</CardHeader>
                                                <CardBody class="custom-body">
                                                    @foreach (var claimType in AllApiScopesClaimTypes)
                                                    {
                                                        <Button Class="btn btn-block btn-outline-primary btn-sm mb-2 mt-0 text-truncate text-left"
                                                                Clicked="() => MoveClaimType(true, claimType)">
                                                            <Icon class="fa-arrow-left"></Icon> @claimType
                                                        </Button>
                                                    }
                                                </CardBody>
                                            </Card>
                                        </Column>
                                    </Row>
                                </TabPanel>
                            </Validations>
                        </Content>
                    </Tabs>
                </ModalBody>
                <ModalFooter>
                    <Button Color="Color.Secondary" Clicked="CloseCreateModalAsync">@L["Cancel"]</Button>
                    <SubmitButton Form="CreateForm" Clicked="@CreateEntityAsync" />
                </ModalFooter>
             </Form>
        </ModalContent>
    </Modal>
}

@* ************************* CREATE MODAL ************************* *@
@if (HasUpdatePermission)
{
    <Modal @ref="EditModal">
        <ModalBackdrop/>
        <ModalContent IsCentered="true" Size="ModalSize.Large">
            <Form Class="form-with-card" id="EditForm">
                <ModalHeader>
                    <ModalTitle>@L["Edit"].Value</ModalTitle>
                    <CloseButton Clicked="CloseEditModalAsync"/>
                </ModalHeader>
                <ModalBody>
                    <Tabs SelectedTab="@SelectedTab" SelectedTabChanged="@OnSelectedTabChanged">
                        <Items>
                            <Tab Name="info">@L["Info"].Value</Tab>
                            <Tab Name="claims">@L["Claims"].Value</Tab>
                            <Tab Name="properties">@L["Properties"].Value</Tab>
                        </Items>
                        <Content>
                            <Validations @ref="@EditValidationsRef" Model="@EditingEntity" ValidateOnLoad="false">
                                <TabPanel Name="info">
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["DisplayName"]</FieldLabel>
                                            <TextEdit @bind-Text="EditingEntity.DisplayName" Autofocus="true">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["Description"]</FieldLabel>
                                            <TextEdit @bind-Text="EditingEntity.Description">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Field>
                                        <Check TValue="bool" @bind-Checked="EditingEntity.Required">@L["Required"]
                                        </Check>
                                    </Field>
                                    <Field>
                                        <Check TValue="bool" @bind-Checked="EditingEntity.Enabled">@L["Enabled"]
                                        </Check>
                                    </Field>
                                    <Field>
                                        <Check TValue="bool" @bind-Checked="EditingEntity.ShowInDiscoveryDocument">@L["ShowInDiscoveryDocument"]
                                        </Check>
                                    </Field>
                                    <Field>
                                        <Check TValue="bool" @bind-Checked="EditingEntity.Emphasize">@L["Emphasize"]
                                        </Check>
                                    </Field>
                                </TabPanel>
                                <TabPanel Name="claims">
                                    <Row>
                                        <Column size="_6">
                                            <Card>
                                                <CardHeader>@L["OwnedClaims"]</CardHeader>
                                                <CardBody class="custom-body">
                                                    @foreach (var claimType in OwnedApiScopesClaimTypes)
                                                    {
                                                        <Button Class="btn btn-block btn-primary btn-sm mb-2 mt-0 text-truncate text-left"
                                                                Clicked="() => MoveClaimType(false, claimType)">
                                                            <Icon class="fa-arrow-right"></Icon> @claimType
                                                        </Button>
                                                    }
                                                </CardBody>
                                            </Card>
                                        </Column>
                                        <Column size="_6">
                                            <Card>
                                                <CardHeader>@L["NotOwnedClaims"]</CardHeader>
                                                <CardBody class="custom-body">
                                                    @foreach (var claimType in AllApiScopesClaimTypes)
                                                    {
                                                        <Button Class="btn btn-block btn-outline-primary btn-sm mb-2 mt-0 text-truncate text-left"
                                                                Clicked="() => MoveClaimType(true, claimType)">
                                                            <Icon class="fa-arrow-left"></Icon> @claimType
                                                        </Button>
                                                    }
                                                </CardBody>
                                            </Card>
                                        </Column>
                                    </Row>
                                </TabPanel>
                                <TabPanel Name="properties">
                                    <h3>@L["Properties"]</h3>
                                    <div class="pt-3 pb-5 clearfix">
                                        <Row>
                                            <Column size="_6">
                                                <Field>
                                                    <FieldLabel>@L["Key"].Value</FieldLabel>
                                                    <TextEdit @bind-Text="@EditingApiScopeProperty.Key"/>
                                                </Field>
                                            </Column>
                                            <Column size="_6">
                                                <Field>
                                                    <FieldLabel>@L["Value"].Value</FieldLabel>
                                                    <TextEdit @bind-Text="@EditingApiScopeProperty.Value"/>
                                                </Field>
                                            </Column>
                                        </Row>
                                        <Button Color="Color.Primary" Size="Size.Small" Class="float-right mb-2" Clicked="AddEditingApiScopeProperty">
                                            <Icon class="fa fa-plus"></Icon> @L["AddNew"]
                                        </Button>
                                    </div>
                                    @if (EditingEntity?.Properties?.Any() == true)
                                    {
                                        <Table striped-rows="true" responsive-sm="true">
                                            <TableHeader>
                                                <TableRow>
                                                    <TableHeaderCell>@L["Key"]</TableHeaderCell>
                                                    <TableHeaderCell>@L["Value"]</TableHeaderCell>
                                                    <TableHeaderCell></TableHeaderCell>
                                                </TableRow>
                                            </TableHeader>
                                            <TableBody>
                                                @foreach (var apiScopeProperty in EditingEntity.Properties)
                                                {
                                                    <TableRow>
                                                        <TableRowCell>@apiScopeProperty.Key</TableRowCell>
                                                        <TableRowCell>@apiScopeProperty.Value</TableRowCell>
                                                        <TableRowCell>
                                                            <span class="btn btn-danger btn-sm float-right"
                                                                  @onclick="() => RemoveEditingApiScopeProperty(apiScopeProperty)"><Icon Class="fa fa-trash"></Icon></span></TableRowCell>
                                                    </TableRow>
                                                }
                                            </TableBody>
                                        </Table>
                                    }
                                </TabPanel>
                            </Validations>
                        </Content>
                    </Tabs>
                </ModalBody>
                <ModalFooter>
                    <Button Color="Color.Secondary" Clicked="CloseEditModalAsync">@L["Cancel"]</Button>
                    <SubmitButton Form="EditForm" Clicked="@UpdateEntityAsync" />
                </ModalFooter>
             </Form>
        </ModalContent>
    </Modal>
}

<EntityChangeHistoryModal  @ref="EntityChangeHistoryModal"/>
