﻿@page "/identityserver/clients"
@attribute [Authorize(AbpIdentityServerPermissions.Client.Default)]
@using Volo.Abp.IdentityServer.Client
@using Volo.Abp.IdentityServer.Client.Dtos
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.IdentityServer.Localization
@using Volo.Abp.PermissionManagement.Blazor.Components
@inject AbpBlazorMessageLocalizerHelper<AbpIdentityServerResource> LH

@inherits AbpCrudPageBase<IClientAppService, ClientWithDetailsDto, Guid, GetClientListInput, CreateClientDto, UpdateClientDto>

@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["Clients"]" BreadcrumbItems="@BreadcrumbItems">
    @if (HasCreatePermission)
    {
        <Column ColumnSize="ColumnSize.IsAuto" Class="px-1 pt-2">
            <Button Color="Color.Primary" Clicked="OpenCreateModalAsync">
                <Icon Name="IconName.Add" Class="mr-1"></Icon> @L["CreateANewClient"]
            </Button>
        </Column>
    }
</PageHeader>

@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
        <Form Class="page-search-form" id="SearchForm">
            <Fields Horizontal="true">
                <Field ColumnSize="ColumnSize.Is11" class="mb-0">
                    <TextEdit Placeholder="@L["Search"]" @bind-Text="@GetListInput.Filter" Autofocus="true" />
                </Field>
                <Field ColumnSize="ColumnSize.Is1" class="mb-0">
                    <SubmitButton Form="SearchForm" Block="true" Clicked="@GetEntitiesAsync">
                        <Icon Name="IconName.Search" />
                    </SubmitButton>
                </Field>
            </Fields>
        </Form>
    </CardBody>
</Card>

@* ************************* DATA GRID ************************* *@
<DataGrid TItem="ClientWithDetailsDto"
          Data="Entities"
          ReadData="OnDataGridReadAsync"
          TotalItems="TotalCount"
          ShowPager="true"
          PageSize="PageSize">
    <DataGridColumns>
        <DataGridEntityActionsColumn TItem="ClientWithDetailsDto" @ref="@EntityActionsColumn">
            <DisplayTemplate>
                <EntityActions TItem="ClientWithDetailsDto" EntityActionsColumn="@EntityActionsColumn">
                    <EntityAction TItem="ClientWithDetailsDto"
                                  RequiredPolicy="@UpdatePolicyName"
                                  Clicked="() => OpenEditModalAsync(context)"
                                  Text="@L["Edit"]">
                    </EntityAction>
                    <EntityAction TItem="ClientWithDetailsDto"
                                  RequiredPolicy="@ManagePermissionsPolicyName"
                                  Clicked="() => PermissionManagementModal.OpenAsync(PermissionProviderName, context.ClientName)"
                                  Text="@L["Permissions"]">
                    </EntityAction>
                    <EntityAction TItem="ClientWithDetailsDto"
                                  RequiredPolicy="@DeletePolicyName"
                                  Clicked="() => DeleteEntityAsync(context)"
                                  ConfirmationMessage="() => GetDeleteConfirmationMessage(context)"
                                  Text="@L["Delete"]">
                    </EntityAction>
                </EntityActions>
            </DisplayTemplate>
        </DataGridEntityActionsColumn>
        <DataGridColumn TItem="ClientWithDetailsDto" Field="@nameof(ClientWithDetailsDto.ClientId)" Caption="@L["ClientId"].Value">
            <DisplayTemplate>
                @context.ClientId
            </DisplayTemplate>
        </DataGridColumn>
    </DataGridColumns>
</DataGrid>

@* ************************* CREATE MODAL ************************* *@
@if (HasCreatePermission)
{
    <Modal @ref="CreateModal">
        <ModalBackdrop/>
        <ModalContent IsCentered="true" Size="ModalSize.Large">
            <Form Class="form-with-card" id="CreateForm">
                <ModalHeader>
                    <ModalTitle>@L["Create"].Value</ModalTitle>
                    <CloseButton Clicked="CloseCreateModalAsync"/>
                </ModalHeader>
                <ModalBody>
                    <Tabs SelectedTab="@CreateClientSelectedTab" SelectedTabChanged="@OnCreateClientSelectedTabChanged">
                        <Items>
                            <Tab Name="basic">@L["Basic"].Value</Tab>
                            <Tab Name="uris">@L["Uris"].Value</Tab>
                            <Tab Name="secrets">@L["Secrets"].Value</Tab>
                            <li class="nav-item dropdown">
                                <span class="nav-link dropdown-toggle" role="button"
                                   @onclick="ChangeCreateResourcesDropDownState">@L["Resources"]</span>
                                <div class="dropdown-menu @CreateResourcesDropDownState">
                                    <Tab Name="identityResources" @onclick="ChangeCreateResourcesDropDownState">@L["IdentityResources"].Value</Tab>
                                    <Tab Name="apiResources" @onclick="ChangeCreateResourcesDropDownState">@L["ApiResources"].Value</Tab>
                                </div>
                            </li>
                        </Items>
                        <Content>
                            <Validations @ref="@CreateValidationsRef" Model="@NewEntity" ValidateOnLoad="false">
                                <TabPanel Name="basic">
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["ClientId"]</FieldLabel>
                                            <TextEdit @bind-Text="NewEntity.ClientId" Autofocus="true">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["ClientName"]</FieldLabel>
                                            <TextEdit @bind-Text="NewEntity.ClientName">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["Description"]</FieldLabel>
                                            <MemoEdit @bind-Text="NewEntity.Description">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </MemoEdit>
                                        </Field>
                                    </Validation>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["ClientUri"]</FieldLabel>
                                            <TextEdit @bind-Text="NewEntity.ClientUri">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["LogoUri"]</FieldLabel>
                                            <TextEdit @bind-Text="NewEntity.LogoUri">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Field>
                                         <Check TValue="bool" @bind-Checked="NewEntity.RequireConsent">@L["RequireConsent"]</Check>
                                     </Field>
                                </TabPanel>
                                <TabPanel Name="uris">
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["CallbackUrl"]</FieldLabel>
                                            <TextEdit @bind-Text="NewEntity.CallbackUrl">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["LogoutUrl"]</FieldLabel>
                                            <TextEdit @bind-Text="NewEntity.LogoutUrl">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                </TabPanel>
                                <TabPanel Name="secrets">
                                    <Card class="bg-light shadow-none mb-3">
                                        <CardBody>
                                            <Row>
                                                <Column size="_6">
                                                    <Field>
                                                        <FieldLabel>@L["Type"]</FieldLabel>
                                                        <Select TValue="string" @bind-SelectedValue="@ClientSecret.Type">
                                                            @foreach (var item in SelectSecretTypeItems)
                                                            {
                                                                <SelectItem Value="@item.Value">@item.Name</SelectItem>
                                                            }
                                                        </Select>
                                                    </Field>

                                                    <Field>
                                                        <FieldLabel>@L["Value"]</FieldLabel>
                                                        <TextEdit @bind-Text="@ClientSecret.Value"/>
                                                    </Field>
                                                </Column>
                                                <Column size="_6">
                                                    <Field>
                                                        <FieldLabel>@L["Description"]</FieldLabel>
                                                        <TextEdit @bind-Text="@ClientSecret.Description"></TextEdit>
                                                    </Field>
                                                    <Field>
                                                        <FieldLabel>@L["Expiration"]</FieldLabel>
                                                        <DateEdit TValue="DateTime?" @bind-Date="@ClientSecret.Expiration"/>
                                                    </Field>
                                                </Column>
                                            </Row>
                                            <Button Color="@Color.Primary" Size="Size.Small" Class="float-right"
                                                    Clicked="AddClientSecret">
                                                <Icon class="fa fa-plus"></Icon>
                                                @L["AddNew"]
                                            </Button>
                                        </CardBody>
                                    </Card>
                                    @if (ClientSecrets.Any())
                                    {
                                        <Table hoverable-rows="true" responsive-sm="true">
                                            <TableHeader>
                                                <TableRow>
                                                    <TableHeaderCell>@L["Type"]</TableHeaderCell>
                                                    <TableHeaderCell>@L["Value"]</TableHeaderCell>
                                                    <TableHeaderCell>@L["Description"]</TableHeaderCell>
                                                    <TableHeaderCell>@L["Expiration"]</TableHeaderCell>
                                                    <TableHeaderCell></TableHeaderCell>
                                                </TableRow>
                                            </TableHeader>
                                            <TableBody>
                                                @foreach (var clientSecret in ClientSecrets)
                                                {
                                                    <TableRow>
                                                        <TableRowCell>@clientSecret.Type</TableRowCell>
                                                        <TableRowCell Class="text-truncate" style="max-width: 150px;">@clientSecret.Value</TableRowCell>
                                                        <TableRowCell Class="text-truncate" style="max-width: 150px;">@clientSecret.Description</TableRowCell>
                                                        <TableRowCell>@clientSecret.Expiration</TableRowCell>
                                                        <TableRowCell><span class="btn btn-outline-danger float-right"
                                                                            @onclick="() => RemoveClientSecret(clientSecret)"><Icon class="fa fa-trash"></Icon></span></TableRowCell>
                                                    </TableRow>
                                                }
                                            </TableBody>
                                        </Table>
                                    }
                            </TabPanel>
                                <TabPanel Name="identityResources">
                                 <h2>@L["IdentityResources"]</h2>
                                    <Row>
                                        <Column size="_6">
                                            <Card>
                                                <CardHeader>@L["Assigned"]</CardHeader>
                                                <CardBody class="custom-body">
                                                    @foreach (var identityResource in AssignedIdentityResources)
                                                    {
                                                        <Button Class="btn btn-block btn-primary btn-sm mb-2 mt-0 text-truncate text-left"
                                                                Clicked="() => MoveIdentityResources(false, identityResource)">
                                                            <Icon class="fa-arrow-right"></Icon> @(identityResource.DisplayName.IsNullOrEmpty() ? identityResource.Name : identityResource.DisplayName)
                                                        </Button>
                                                    }
                                                </CardBody>
                                            </Card>
                                        </Column>
                                        <Column size="_6">
                                            <Card>
                                                <CardHeader>@L["Available"]</CardHeader>
                                                <CardBody class="custom-body">
                                                    @foreach (var identityResource in AllIdentityResources)
                                                    {
                                                        <Button Class="btn btn-block btn-outline-primary btn-sm mb-2 mt-0 text-truncate text-left"
                                                                Clicked="() => MoveIdentityResources(true, identityResource)">
                                                            <Icon class="fa-arrow-left"></Icon> @(identityResource.DisplayName.IsNullOrEmpty() ? identityResource.Name : identityResource.DisplayName)
                                                        </Button>
                                                    }
                                                </CardBody>
                                            </Card>
                                        </Column>
                                    </Row>
                                </TabPanel>
                                <TabPanel Name="apiResources">
                                    <h2>@L["ApiResources"]</h2>
                                    <Row>
                                        <Column size="_6">
                                            <Card>
                                                <CardHeader>@L["Assigned"]</CardHeader>
                                                <CardBody class="custom-body">
                                                    @foreach (var apiResource in AssignedApiResources)
                                                    {
                                                        <Button Class="btn btn-block btn-primary btn-sm mb-2 mt-0 text-truncate text-left"
                                                                Clicked="() => MoveApiResources(false, apiResource)">
                                                            <Icon class="fa-arrow-right"></Icon> @(apiResource.DisplayName.IsNullOrEmpty() ? apiResource.Name : apiResource.DisplayName)
                                                        </Button>
                                                    }
                                                </CardBody>
                                            </Card>
                                        </Column>
                                        <Column size="_6">
                                            <Card>
                                                <CardHeader>@L["Available"]</CardHeader>
                                                <CardBody class="custom-body">
                                                    @foreach (var apiResource in AllApiResources)
                                                    {
                                                        <Button Class="btn btn-block btn-outline-primary btn-sm mb-2 mt-0 text-truncate text-left"
                                                                Clicked="() => MoveApiResources(true, apiResource)">
                                                            <Icon class="fa-arrow-left"></Icon> @(apiResource.DisplayName.IsNullOrEmpty() ? apiResource.Name : apiResource.DisplayName)
                                                        </Button>
                                                    }
                                                </CardBody>
                                            </Card>
                                        </Column>

                                    </Row>
                                </TabPanel>
                            </Validations>
                        </Content>
                    </Tabs>
                </ModalBody>
                <ModalFooter>
                    <Button Color="Color.Secondary" Clicked="CloseCreateModalAsync">@L["Cancel"]</Button>
                    <SubmitButton Form="CreateForm" Clicked="@CreateEntityAsync" />
                </ModalFooter>
             </Form>
        </ModalContent>
    </Modal>
}

@* ************************* EDIT MODAL ************************* *@
@if (HasUpdatePermission)
{
    <Modal @ref="EditModal">
        <ModalBackdrop/>
        <ModalContent IsCentered="true" Size="ModalSize.Large">
            <Form Class="form-with-card" id="EditForm">
                <ModalHeader>
                    <ModalTitle>@L["Edit"].Value</ModalTitle>
                    <CloseButton Clicked="CloseEditModalAsync"/>
                </ModalHeader>
                <ModalBody>
                    <Tabs SelectedTab="@EditClientSelectedTab" SelectedTabChanged="@OnEditClientSelectedTabChanged">
                        <Items>
                            <Tab Name="details">@L["Details"].Value</Tab>
                            <li class="nav-item dropdown">
                                <span class="nav-link dropdown-toggle" role="button"
                                   @onclick="ChangeEditApplicationUrlsDropDownState">@L["ApplicationUrls"]</span>
                                <div class="dropdown-menu @EditApplicationUrlsDropDownState">
                                    <Tab Name="callback" @onclick="ChangeEditApplicationUrlsDropDownState">@L["Callback"].Value</Tab>
                                    <Tab Name="signout" @onclick="ChangeEditApplicationUrlsDropDownState">@L["Signout"].Value</Tab>
                                    <Tab Name="cors" @onclick="ChangeEditApplicationUrlsDropDownState">@L["CORS"].Value</Tab>
                                </div>
                            </li>
                            <Tab Name="secrets">@L["Secrets"].Value</Tab>
                            <li class="nav-item dropdown">
                                <span class="nav-link dropdown-toggle" role="button"
                                   @onclick="ChangeEditResourcesDropDownState">@L["Resources"]</span>
                                <div class="dropdown-menu @EditResourcesDropDownState">
                                    <Tab Name="identityResources" @onclick="ChangeEditResourcesDropDownState">@L["IdentityResources"].Value</Tab>
                                    <Tab Name="apiResources" @onclick="ChangeEditResourcesDropDownState">@L["ApiResources"].Value</Tab>
                                </div>
                            </li>
                           <li class="nav-item dropdown">
                               <span class="nav-link dropdown-toggle" role="button"
                                  @onclick="ChangeEditAdvancedDropDownState">@L["Advanced"]</span>
                               <div class="dropdown-menu @EditAdvancedDropDownState">
                                   <Tab Name="tokens" @onclick="ChangeEditAdvancedDropDownState">@L["Tokens"].Value</Tab>
                                   <Tab Name="claims" @onclick="ChangeEditAdvancedDropDownState">@L["Claims"].Value</Tab>
                                   <Tab Name="grantTypes" @onclick="ChangeEditAdvancedDropDownState">@L["GrantTypes"].Value</Tab>
                                   <Tab Name="identityProviderRestrictions" @onclick="ChangeEditAdvancedDropDownState">@L["IdentityProviderRestrictions"].Value</Tab>
                                   <Tab Name="properties" @onclick="ChangeEditAdvancedDropDownState">@L["Properties"].Value</Tab>
                               </div>
                           </li>
                        </Items>
                        <Content>
                            <Validations @ref="@EditValidationsRef" Model="@EditingEntity" ValidateOnLoad="false">
                                <TabPanel Name="details">
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["ClientName"]</FieldLabel>
                                            <TextEdit @bind-Text="@EditingEntity.ClientName" Autofocus="true">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["Description"]</FieldLabel>
                                            <MemoEdit @bind-Text="EditingEntity.Description">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </MemoEdit>
                                        </Field>
                                    </Validation>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["ClientUri"]</FieldLabel>
                                            <TextEdit @bind-Text="EditingEntity.ClientUri">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["LogoUri"]</FieldLabel>
                                            <TextEdit @bind-Text="EditingEntity.LogoUri">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Field>
                                        <Check TValue="bool" @bind-Checked="EditingEntity.RequireConsent">@L["RequireConsent"]</Check>
                                    </Field>
                                    <Field>
                                        <Check TValue="bool" @bind-Checked="EditingEntity.RequireRequestObject">@L["RequireRequestObject"]</Check>
                                    </Field>
                                    <Field>
                                        <Check TValue="bool" @bind-Checked="EditingEntity.AllowRememberConsent">@L["AllowRememberConsent"]</Check>
                                    </Field>
                                    <Field>
                                        <Check TValue="bool" @bind-Checked="EditingEntity.Enabled">@L["Enabled"]</Check>
                                    </Field>
                                    <Field>
                                        <Check TValue="bool" @bind-Checked="EditingEntity.AllowOfflineAccess">@L["AllowOfflineAccess"]</Check>
                                    </Field>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["FrontChannelLogoutUri"]</FieldLabel>
                                            <TextEdit @bind-Text="EditingEntity.FrontChannelLogoutUri">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Field>
                                        <Check TValue="bool" @bind-Checked="EditingEntity.FrontChannelLogoutSessionRequired">@L["FrontChannelLogoutSessionRequired"]</Check>
                                    </Field>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["BackChannelLogoutUri"]</FieldLabel>
                                            <TextEdit @bind-Text="EditingEntity.BackChannelLogoutUri">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Field>
                                        <Check TValue="bool" @bind-Checked="EditingEntity.BackChannelLogoutSessionRequired">@L["BackChannelLogoutSessionRequired"]</Check>
                                    </Field>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["AllowedIdentityTokenSigningAlgorithms"]</FieldLabel>
                                            <TextEdit @bind-Text="EditingEntity.AllowedIdentityTokenSigningAlgorithms">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                </TabPanel>
                                <TabPanel Name="callback">
                                <h2>@L["CallbackUrl"]</h2>
                                <div class="pt-3 pb-5 clearfix">
                                    <Field>
                                        <FieldLabel>@L["Uri"]</FieldLabel>
                                        <TextEdit @bind-Text="@EditingClientModelView.CallbackUri"/>
                                    </Field>
                                    <Button Color="Color.Success" Class="float-right mb-2" Clicked="AddEditingRedirectUri"><Icon class="fa fa-plus"></Icon>@L["AddNew"]</Button>
                                </div>
                                @if (EditingClientModelView.RedirectUris.Any())
                                {
                                    <Table striped-rows="true" responsive-sm="true">
                                        <TableBody>
                                            @foreach (var redirectUri in EditingClientModelView.RedirectUris)
                                            {
                                                <TableRow>
                                                    <TableRowCell>
                                                        @redirectUri
                                                    </TableRowCell>
                                                    <TableRowCell>
                                                        <Button Class="btn btn-danger btn-sm float-right"
                                                                Clicked="() => RemoveEditingRedirectUri(redirectUri)">
                                                            <Icon class="fa fa-trash"></Icon>
                                                        </Button>
                                                    </TableRowCell>
                                                </TableRow>
                                            }
                                        </TableBody>
                                    </Table>
                                }
                            </TabPanel>
                                <TabPanel Name="signout">
                                    <h3>@L["SignoutUrl"]</h3>
                                    <div class="pt-3 pb-5 clearfix">
                                        <Field>
                                            <FieldLabel>@L["Uri"].Value</FieldLabel>
                                            <TextEdit @bind-Text="@EditingClientModelView.PostLogoutRedirectUri"/>
                                        </Field>
                                        <Button Color="Color.Primary" Size="Size.Small" Class="float-right mb-2" Clicked="AddEditingSignOutUrl">
                                            <Icon class="fa fa-plus"></Icon> @L["AddNew"]
                                        </Button>
                                    </div>
                                    @if (EditingClientModelView.PostLogoutRedirectUris.Any())
                                    {
                                        <Table striped-rows="true" responsive-sm="true">
                                            <TableBody>
                                            @foreach (var signOutUrl in EditingClientModelView.PostLogoutRedirectUris)
                                            {
                                                <TableRow>
                                                    <TableRowCell>@signOutUrl</TableRowCell>
                                                    <TableRowCell><span class="btn btn-danger btn-sm float-right"
                                                                        @onclick="() => RemoveEditingSignOutUrl(signOutUrl)"><Icon Class="fa fa-trash"></Icon></span></TableRowCell>
                                                </TableRow>
                                            }
                                            </TableBody>
                                        </Table>
                                    }
                                    <Field>
                                        <Check TValue="bool" @bind-Checked="EditingEntity.EnableLocalLogin">@L["EnableLocalLogin"]</Check>
                                    </Field>
                                </TabPanel>
                                <TabPanel Name="cors">
                                    <h3>@L["AllowedCorsOrigins"]</h3>
                                    <div class="pt-3 pb-5 clearfix">
                                        <Field>
                                            <FieldLabel>@L["Uri"].Value</FieldLabel>
                                            <TextEdit @bind-Text="@EditingClientModelView.CorsOrigin"/>
                                        </Field>
                                        <Button Color="Color.Primary" Size="Size.Small" Class="float-right mb-2" Clicked="AddEditingCorsOrigin">
                                            <Icon class="fa fa-plus"></Icon> @L["AddNew"]
                                        </Button>
                                    </div>
                                    @if (EditingClientModelView.AllowedCorsOrigins.Any())
                                    {
                                        <Table striped-rows="true" responsive-sm="true">
                                            <TableBody>
                                            @foreach (var corsOrigin in EditingClientModelView.AllowedCorsOrigins)
                                            {
                                                <TableRow>
                                                    <TableRowCell>@corsOrigin</TableRowCell>
                                                    <TableRowCell><span class="btn btn-danger btn-sm float-right"
                                                                        @onclick="() => RemoveEditingCorsOrigin(corsOrigin)"><Icon Class="fa fa-trash"></Icon></span></TableRowCell>
                                                </TableRow>
                                            }
                                            </TableBody>
                                        </Table>
                                    }
                                </TabPanel>
                                <TabPanel Name="secrets">
                                    <Card class="bg-light shadow-none mb-3">
                                        <CardBody>
                                            <Row>
                                                <Column size="_6">
                                                    <Field>
                                                        <FieldLabel>@L["Type"]</FieldLabel>
                                                        <Select TValue="string" @bind-SelectedValue="@EditingClientModelView.ClientSecret.Type">
                                                            @foreach (var item in SelectSecretTypeItems)
                                                            {
                                                                <SelectItem Value="@item.Value">@item.Name</SelectItem>
                                                            }
                                                        </Select>
                                                    </Field>

                                                    <Field>
                                                        <FieldLabel>@L["Value"]</FieldLabel>
                                                        <TextEdit @bind-Text="@EditingClientModelView.ClientSecret.Value"/>
                                                    </Field>
                                                </Column>
                                                <Column size="_6">
                                                    <Field>
                                                        <FieldLabel>@L["Description"]</FieldLabel>
                                                        <TextEdit @bind-Text="@EditingClientModelView.ClientSecret.Description"></TextEdit>
                                                    </Field>
                                                    <Field>
                                                        <FieldLabel>@L["Expiration"]</FieldLabel>
                                                        <DateEdit TValue="DateTime?" @bind-Date="@EditingClientModelView.ClientSecret.Expiration"/>
                                                    </Field>
                                                </Column>
                                            </Row>
                                            <Button Color="@Color.Primary" Size="Size.Small" Class="float-right"
                                                    Clicked="AddEditingClientSecret">
                                                <Icon class="fa fa-plus"></Icon>
                                                @L["AddNew"]
                                            </Button>
                                        </CardBody>
                                    </Card>
                                    @if (EditingClientModelView.ClientSecrets.Any())
                                    {
                                        <div class="table-responsive-sm">
                                            <Table hoverable-rows="true" responsive-sm="true">
                                                <TableHeader>
                                                    <TableRow>
                                                        <TableHeaderCell>@L["Type"]</TableHeaderCell>
                                                        <TableHeaderCell>@L["Value"]</TableHeaderCell>
                                                        <TableHeaderCell>@L["Description"]</TableHeaderCell>
                                                        <TableHeaderCell>@L["Expiration"]</TableHeaderCell>
                                                        <TableHeaderCell></TableHeaderCell>
                                                    </TableRow>
                                                </TableHeader>
                                                <TableBody>
                                                    @foreach (var clientSecret in EditingClientModelView.ClientSecrets)
                                                    {
                                                        <TableRow>
                                                            <TableRowCell>@clientSecret.Type</TableRowCell>
                                                            <TableRowCell Class="text-truncate" style="max-width: 150px;">@clientSecret.Value</TableRowCell>
                                                            <TableRowCell Class="text-truncate" style="max-width: 150px;">@clientSecret.Description</TableRowCell>
                                                            <TableRowCell>@clientSecret.Expiration</TableRowCell>
                                                            <TableRowCell><span class="btn btn-outline-danger float-right"@onclick="() => RemoveEditingClientSecret(clientSecret)"><Icon Class="fa fa-trash"></Icon></span></TableRowCell>
                                                        </TableRow>
                                                    }
                                                </TableBody>
                                            </Table>
                                        </div>
                                    }
                                </TabPanel>
                                <TabPanel Name="identityResources">
                                 <h2>@L["IdentityResources"]</h2>
                                    <Row>
                                        <Column size="_6">
                                            <Card>
                                                <CardHeader>@L["Assigned"]</CardHeader>
                                                <CardBody class="custom-body">
                                                    @foreach (var identityResource in AssignedIdentityResources)
                                                    {
                                                        <Button Class="btn btn-block btn-primary btn-sm mb-2 mt-0 text-truncate text-left"
                                                                Clicked="() => MoveIdentityResources(false, identityResource)">
                                                            <Icon class="fa-arrow-right"></Icon> @(identityResource.DisplayName.IsNullOrEmpty() ? identityResource.Name : identityResource.DisplayName)
                                                        </Button>
                                                    }
                                                </CardBody>
                                            </Card>
                                        </Column>
                                        <Column size="_6">
                                            <Card>
                                                <CardHeader>@L["Available"]</CardHeader>
                                                <CardBody class="custom-body">
                                                    @foreach (var identityResource in AllIdentityResources)
                                                    {
                                                        <Button Class="btn btn-block btn-outline-primary btn-sm mb-2 mt-0 text-truncate text-left"
                                                                Clicked="() => MoveIdentityResources(true, identityResource)">
                                                            <Icon class="fa-arrow-left"></Icon> @(identityResource.DisplayName.IsNullOrEmpty() ? identityResource.Name : identityResource.DisplayName)
                                                        </Button>
                                                    }
                                                </CardBody>
                                            </Card>
                                        </Column>
                                    </Row>
                                </TabPanel>
                                <TabPanel Name="apiResources">
                                    <h2>@L["ApiResources"]</h2>
                                    <Row>
                                        <Column size="_6">
                                            <Card>
                                                <CardHeader>@L["Assigned"]</CardHeader>
                                                <CardBody class="custom-body">
                                                    @foreach (var apiResource in AssignedApiResources)
                                                    {
                                                        <Button Class="btn btn-block btn-primary btn-sm mb-2 mt-0 text-truncate text-left"
                                                                Clicked="() => MoveApiResources(false, apiResource)">
                                                            <Icon class="fa-arrow-right"></Icon> @(apiResource.DisplayName.IsNullOrEmpty() ? apiResource.Name : apiResource.DisplayName)
                                                        </Button>
                                                    }
                                                </CardBody>
                                            </Card>
                                        </Column>
                                        <Column size="_6">
                                            <Card>
                                                <CardHeader>@L["Available"]</CardHeader>
                                                <CardBody class="custom-body">
                                                    @foreach (var apiResource in AllApiResources)
                                                    {
                                                        <Button Class="btn btn-block btn-outline-primary btn-sm mb-2 mt-0 text-truncate text-left"
                                                                Clicked="() => MoveApiResources(true, apiResource)">
                                                            <Icon class="fa-arrow-left"></Icon> @(apiResource.DisplayName.IsNullOrEmpty() ? apiResource.Name : apiResource.DisplayName)
                                                        </Button>
                                                    }
                                                </CardBody>
                                            </Card>
                                        </Column>
                                    </Row>
                                </TabPanel>
                                <TabPanel Name="tokens">
                                    <h3>@L["Tokens"]</h3>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["AccessTokenLifetime"]</FieldLabel>
                                            <NumericEdit TValue="int" Value="EditingEntity.AccessTokenLifetime" ValueChanged="v => EditingEntity.AccessTokenLifetime = v">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </NumericEdit>
                                        </Field>
                                    </Validation>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["AccessTokenType"]</FieldLabel>
                                            <NumericEdit TValue="int" Value="EditingEntity.AccessTokenType" ValueChanged="v => EditingEntity.AccessTokenType = v">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </NumericEdit>
                                        </Field>
                                    </Validation>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["ConsentLifetime"]</FieldLabel>
                                            <NumericEdit TValue="int?" Value="EditingEntity.ConsentLifetime" ValueChanged="v => EditingEntity.ConsentLifetime = v">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </NumericEdit>
                                        </Field>
                                    </Validation>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["PairWiseSubjectSalt"]</FieldLabel>
                                            <TextEdit @bind-Text="EditingEntity.PairWiseSubjectSalt">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Field>
                                        <Check TValue="bool" @bind-Checked="EditingEntity.IncludeJwtId">@L["IncludeJwtId"]</Check>
                                    </Field>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["UserSsoLifetime"]</FieldLabel>
                                            <NumericEdit TValue="int?" Value="EditingEntity.UserSsoLifetime"  ValueChanged="v => EditingEntity.UserSsoLifetime = v">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </NumericEdit>
                                        </Field>
                                    </Validation>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["UserCodeType"]</FieldLabel>
                                            <TextEdit @bind-Text="EditingEntity.UserCodeType">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </TextEdit>
                                        </Field>
                                    </Validation>
                                    <Validation MessageLocalizer="@LH.Localize">
                                        <Field>
                                            <FieldLabel>@L["DeviceCodeLifetime"]</FieldLabel>
                                            <NumericEdit TValue="int" Value="EditingEntity.DeviceCodeLifetime"  ValueChanged="v => EditingEntity.DeviceCodeLifetime = v">
                                                <Feedback>
                                                    <ValidationError/>
                                                </Feedback>
                                            </NumericEdit>
                                        </Field>
                                    </Validation>
                                    <Field>
                                        <Check TValue="bool" @bind-Checked="EditingEntity.RequirePkce">@L["RequirePkce"]</Check>
                                    </Field>
                                    <Field>
                                        <Check TValue="bool" @bind-Checked="EditingEntity.RequireClientSecret">@L["RequireClientSecret"]</Check>
                                    </Field>
                                </TabPanel>
                                <TabPanel Name="claims">
                                    <h3>@L["Claims"]</h3>
                                    <div class="pt-3 pb-5 clearfix">
                                        <Row>
                                            <Column size="_6">
                                                <Field>
                                                    <FieldLabel>@L["Type"]</FieldLabel>
                                                    <TextEdit @bind-Text="@EditingClientModelView.Claim.Type"/>
                                                </Field>
                                            </Column>
                                            <Column size="_6">
                                                <Validation MessageLocalizer="@LH.Localize">
                                                    <Field>
                                                        <FieldLabel>@L["Value"]</FieldLabel>
                                                        <TextEdit @bind-Text="@EditingClientModelView.Claim.Value">
                                                            <Feedback>
                                                                <ValidationError/>
                                                            </Feedback>
                                                        </TextEdit>
                                                    </Field>
                                                </Validation>
                                            </Column>
                                        </Row>
                                        <Button Color="Color.Primary"
                                                Size="Size.Small"
                                                Class="float-right"
                                                Clicked="AddEditingClientClaim">
                                            <Icon class="fa fa-plus"></Icon> @L["AddNew"]
                                        </Button>
                                    </div>
                                    <Field>
                                        <Check TValue="bool" @bind-Checked="EditingEntity.AlwaysSendClientClaims">@L["AlwaysSendClientClaims"]</Check>
                                    </Field>
                                    @if (EditingClientModelView.Claims.Any())
                                    {
                                        <Table striped-rows="true" responsive-sm="true">
                                            <TableHeader>
                                                 <TableRow>
                                                    <TableHeaderCell>@L["Type"]</TableHeaderCell>
                                                    <TableHeaderCell>@L["Value"]</TableHeaderCell>
                                                    <TableHeaderCell></TableHeaderCell>
                                                </TableRow>
                                            </TableHeader>
                                            <TableBody>
                                                @foreach (var claim in EditingClientModelView.Claims)
                                                {
                                                    <TableRow>
                                                        <TableRowCell>@claim.Type</TableRowCell>
                                                        <TableRowCell>@claim.Value</TableRowCell>
                                                        <TableRowCell><span class="btn btn-danger btn-sm float-right"
                                                                            @onclick="() => RemoveEditingClientClaim(claim)"><Icon Class="fa fa-trash"></Icon></span></TableRowCell>
                                                    </TableRow>
                                                }
                                            </TableBody>
                                        </Table>
                                    }
                                </TabPanel>
                                <TabPanel Name="grantTypes">
                                    <h3>@L["GrantTypes"]</h3>
                                    <div class="pt-3 pb-5 clearfix">
                                        <Row>
                                            <Column size="_12">
                                                <label>Grant Type</label>
                                                <Select @bind-SelectedValue="@EditingClientModelView.GrantType">
                                                    @foreach (var grantType in SelectGrantTypeItems)
                                                    {
                                                        <SelectItem Value="@grantType.Value">@grantType.Name</SelectItem>
                                                    }
                                                </Select>
                                            </Column>
                                            @if (@EditingClientModelView.GrantType == "custom")
                                            {
                                                <Column size="_12">
                                                    <Field>
                                                        <FieldLabel>@L["Value"]</FieldLabel>
                                                        <TextEdit @bind-Text="@EditingClientModelView.CustomGrantType" Placeholder="@L["CustomGrantType"]"/>
                                                    </Field>
                                                </Column>
                                            }
                                        </Row>
                                        <Button Color="Color.Primary" Size="Size.Small" Class="float-right" Clicked="AddEditingGrantType">
                                            <Icon class="fa fa-plus"></Icon> @L["AddNew"]
                                        </Button>
                                    </div>
                                    @if (EditingClientModelView.AllowedGrantTypes.Any())
                                    {
                                        <Table striped-rows="true" responsive-sm="true">
                                            <TableBody>
                                            @foreach (var grantType in EditingClientModelView.AllowedGrantTypes)
                                            {
                                                <TableRow>
                                                    <TableRowCell>@grantType</TableRowCell>
                                                    <TableRowCell><span class="btn btn-danger btn-sm float-right"
                                                                        @onclick="() => RemoveEditingGrantType(grantType)"><Icon Class="fa fa-trash"></Icon></span></TableRowCell>
                                                </TableRow>
                                            }
                                            </TableBody>
                                        </Table>
                                    }
                                </TabPanel>
                                <TabPanel Name="identityProviderRestrictions">
                                    <h3>@L["IdentityProviderRestrictions"]</h3>
                                    <div class="pt-3 pb-5 clearfix">
                                        <Field>
                                            <FieldLabel>@L["Restrictions"].Value</FieldLabel>
                                            <TextEdit @bind-Text="@EditingClientModelView.Restriction"/>
                                        </Field>
                                        <Button Color="Color.Primary" Size="Size.Small" Class="float-right mb-2" Clicked="AddEditingRestriction">
                                            <Icon class="fa fa-plus"></Icon> @L["AddNew"]
                                        </Button>
                                    </div>
                                    @if (EditingClientModelView.IdentityProviderRestrictions.Any())
                                    {
                                        <Table striped-rows="true" responsive-sm="true">
                                            <TableBody>
                                            @foreach (var restrictions in EditingClientModelView.IdentityProviderRestrictions)
                                            {
                                                <TableRow>
                                                    <TableRowCell>@restrictions</TableRowCell>
                                                    <TableRowCell><span class="btn btn-danger btn-sm float-right"
                                                                        @onclick="() => RemoveEditingRestriction(restrictions)"><Icon Class="fa fa-trash"></Icon></span></TableRowCell>
                                                </TableRow>
                                            }
                                            </TableBody>
                                        </Table>
                                    }
                                    <Field>
                                        <Check TValue="bool" @bind-Checked="EditingEntity.EnableLocalLogin">@L["EnableLocalLogin"]</Check>
                                    </Field>
                                </TabPanel>
                            <TabPanel Name="properties">
                                <h3>@L["Properties"]</h3>
                                <div class="pt-3 pb-5 clearfix">
                                    <Row>
                                        <Column size="_6">
                                            <Field>
                                                <FieldLabel>@L["Key"].Value</FieldLabel>
                                                <TextEdit @bind-Text="@EditingClientModelView.Property.Key"/>
                                            </Field>
                                        </Column>
                                        <Column size="_6">
                                            <Field>
                                                <FieldLabel>@L["Value"].Value</FieldLabel>
                                                <TextEdit @bind-Text="@EditingClientModelView.Property.Value"/>
                                            </Field>
                                        </Column>
                                    </Row>
                                    <Button Color="Color.Primary" Size="Size.Small" Class="float-right mb-2" Clicked="AddEditingClientProperty">
                                        <Icon class="fa fa-plus"></Icon> @L["AddNew"]
                                    </Button>
                                </div>
                                @if (EditingClientModelView.Properties.Any())
                                {
                                    <Table striped-rows="true" responsive-sm="true">
                                        <TableHeader>
                                            <TableRow>
                                                <TableHeaderCell>@L["Key"]</TableHeaderCell>
                                                <TableHeaderCell>@L["Value"]</TableHeaderCell>
                                                <TableHeaderCell></TableHeaderCell>
                                            </TableRow>
                                        </TableHeader>
                                        <TableBody>
                                            @foreach (var clientProperty in EditingClientModelView.Properties)
                                            {
                                                <TableRow>
                                                    <TableRowCell>@clientProperty.Key</TableRowCell>
                                                    <TableRowCell>@clientProperty.Value</TableRowCell>
                                                    <TableRowCell>
                                                        <span class="btn btn-danger btn-sm float-right"
                                                              @onclick="() => RemoveEditingClientProperty(clientProperty)"><Icon Class="fa fa-trash"></Icon></span></TableRowCell>
                                                </TableRow>
                                            }
                                        </TableBody>
                                    </Table>
                                }
                            </TabPanel>
                            </Validations>

                        </Content>
                    </Tabs>
                </ModalBody>
                <ModalFooter>
                    <Button Color="Color.Secondary" Clicked="CloseEditModalAsync">@L["Cancel"]</Button>
                    <SubmitButton Form="EditForm" Clicked="@UpdateEntityAsync" />
                </ModalFooter>
             </Form>
        </ModalContent>
    </Modal>
}

<PermissionManagementModal @ref="PermissionManagementModal" />
