﻿@page
@inject IHtmlLocalizer<AccountResource> L
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@model Volo.Abp.Account.Public.Web.Pages.Account.ResetPasswordModel
@inject Volo.Abp.AspNetCore.Mvc.UI.Layout.IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["ResetPassword"].Value;
}
<div class="account-module-form">
    <form method="post">
        <p>@L["ResetPassword_Information"]</p>

        <abp-input asp-for="ReturnUrl"/>
        <abp-input asp-for="ReturnUrlHash"/>
        <abp-input asp-for="UserId"/>
        <abp-input asp-for="ResetToken"/>
        <abp-input asp-for="Password"/>
        <abp-input asp-for="ConfirmPassword"/>

        <a abp-button="Secondary" asp-page="./Login">@L["Cancel"]</a>
        <abp-button type="submit" button-type="Primary" text="@L["Submit"].Value"/>
    </form>
</div>
