﻿@page
@using Volo.Abp.Account.Public.Web.Pages.Account
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Theming
@inject IThemeManager ThemeManager
@inject IHtmlLocalizer<AccountResource> L
@model SecurityLogsModel;
@{
    Layout = ThemeManager.CurrentTheme.GetApplicationLayout();
}

@section styles {
    <abp-style-bundle name="@typeof(SecurityLogsModel).FullName">
        <abp-style src="/Pages/Account/SecurityLog.css" />
    </abp-style-bundle>
}

@section scripts {
    <abp-script-bundle name="@typeof(SecurityLogsModel).FullName">
        <abp-script src="/Pages/Account/SecurityLog.js" />
    </abp-script-bundle>
}


@if (!Model.ReturnUrl.IsNullOrWhiteSpace())
{
    <abp-row class="mb-2">
        <abp-column>
            <a class="btn btn-primary" href="@Model.ReturnUrl">
                <i class="fa fa-chevron-left mr-2"></i>@L["ReturnToApplication"]
            </a>
        </abp-column>
    </abp-row>
}

<abp-tabs>
    <abp-tab name="SecurityLogs" title="@L["MySecurityLogs"].Value">
        <abp-card>
            <abp-card-body class="pb-lg-3">
                <form id="FilterFormId" method="post">
                    <abp-row>
                        <abp-column size-lg="_6" size-md="_6" class="input-group input-daterange">
                            <abp-column>
                                <abp-input type="text" asp-for="@Model.StartTime" />
                            </abp-column>
                            <abp-column>
                                <abp-input type="text" asp-for="@Model.EndTime" />
                            </abp-column>
                        </abp-column>
                        <abp-column size-lg="_3" size-md="_6">
                            <abp-input asp-for="@Model.Action" />
                        </abp-column>
                        <abp-column size-lg="_3" size-md="_6">
                            <abp-button class="mt-md-4" size="Block" button-type="Primary" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </abp-button>
                        </abp-column>
                    </abp-row>
                </form>
            </abp-card-body>
        </abp-card>
        <abp-table striped-rows="true" id="MySecurityLogsTable" class="nowrap"></abp-table>
    </abp-tab>
</abp-tabs>