﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.Identity.Localization
@using Volo.Abp.Identity.Web.Pages.Identity.OrganizationUnits
@using Volo.Abp.Localization
@using Volo.Abp.ObjectExtending
@using Volo.Abp.Data
@model CreateModalModel
@inject IHtmlLocalizer<IdentityResource> L
@inject IStringLocalizerFactory StringLocalizerFactory
@{
    Layout = null;
}
<form asp-page="/Identity/OrganizationUnits/CreateModal" autocomplete="off">
    <abp-modal>
        <abp-modal-header title="@L["NewOrganizationUnit"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="OrganizationUnit.ParentId" />
            <abp-input asp-for="OrganizationUnit.DisplayName" />
            @foreach (var propertyInfo in ObjectExtensionManager.Instance.GetProperties<CreateModalModel.OrganizationUnitInfoModel>())
            {
                if (!propertyInfo.Name.EndsWith("_Text"))
                {
                    if (propertyInfo.Type.IsEnum || !propertyInfo.Lookup.Url.IsNullOrEmpty())
                    {
                    <abp-select asp-for="OrganizationUnit.ExtraProperties[propertyInfo.Name]"
                                label="@propertyInfo.GetLocalizedDisplayName(StringLocalizerFactory)"
                                autocomplete-api-url="@propertyInfo.Lookup.Url"
                                autocomplete-selected-item-name="@Model.OrganizationUnit.GetProperty(propertyInfo.Name+"_Text")"
                                autocomplete-selected-item-value="@Model.OrganizationUnit.GetProperty(propertyInfo.Name)"
                                autocomplete-filter-param-name="@propertyInfo.Lookup.FilterParamName"
                                autocomplete-items-property-name="@propertyInfo.Lookup.ResultListPropertyName"
                                autocomplete-display-property-name="@propertyInfo.Lookup.DisplayPropertyName"
                                autocomplete-value-property-name="@propertyInfo.Lookup.ValuePropertyName"></abp-select>
                    }
                    else
                    {
                    <abp-input type="@propertyInfo.GetInputType()"
                               asp-for="OrganizationUnit.ExtraProperties[propertyInfo.Name]"
                               label="@propertyInfo.GetLocalizedDisplayName(StringLocalizerFactory)"
                               asp-format="@propertyInfo.GetInputFormatOrNull()"
                               value="@propertyInfo.GetInputValueOrNull(Model.OrganizationUnit.GetProperty(propertyInfo.Name))" />
                    }
                }
            }
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel | AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>