﻿@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.Data
@using Volo.Abp.IdentityServer.Localization
@using Volo.Abp.IdentityServer.Web.Pages.IdentityServer.ApiScopes
@using Volo.Abp.Localization
@using Volo.Abp.ObjectExtending
@model EditModel
@inject IHtmlLocalizer<AbpIdentityServerResource> L
@inject IStringLocalizerFactory StringLocalizerFactory
@{
    Layout = null;
}
<form method="post" asp-page="/IdentityServer/ApiScopes/Edit" class="form-with-card" id="ApiScopeEditForm">
    <abp-modal size="@(AbpModalSize.Large)" id="ApiScopeEditModalId">
        <abp-modal-header title="@L["Edit"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-tabs name="ApiScopesEditTabsId">
                <abp-tab title="@L["Info"].Value">
                    <input asp-for="ApiScope.Id" />
                    <abp-input asp-for="ApiScope.DisplayName" />
                    <abp-input asp-for="ApiScope.Description" />
                    <abp-input asp-for="ApiScope.Required" />
                    <abp-input asp-for="ApiScope.Enabled" />
                    <abp-input asp-for="ApiScope.ShowInDiscoveryDocument" />
                    <abp-input asp-for="ApiScope.Emphasize" />
                    @foreach (var propertyInfo in ObjectExtensionManager.Instance.GetProperties<ApiScopeUpdateModalView>())
                    {
                        if (!propertyInfo.Name.EndsWith("_Text"))
                        {
                            if (propertyInfo.Type.IsEnum || !propertyInfo.Lookup.Url.IsNullOrEmpty())
                            {
                                <abp-select asp-for="ApiScope.ExtraProperties[propertyInfo.Name]"
                                            label="@propertyInfo.GetLocalizedDisplayName(StringLocalizerFactory)"
                                            autocomplete-api-url="@propertyInfo.Lookup.Url"
                                            autocomplete-selected-item-name="@Model.ApiScope.GetProperty(propertyInfo.Name+"_Text")"
                                            autocomplete-selected-item-value="@Model.ApiScope.GetProperty(propertyInfo.Name)"
                                            autocomplete-filter-param-name="@propertyInfo.Lookup.FilterParamName"
                                            autocomplete-items-property-name="@propertyInfo.Lookup.ResultListPropertyName"
                                            autocomplete-display-property-name="@propertyInfo.Lookup.DisplayPropertyName"
                                            autocomplete-value-property-name="@propertyInfo.Lookup.ValuePropertyName"></abp-select>
                            }
                            else
                            {
                                <abp-input type="@propertyInfo.GetInputType()"
                                           asp-for="ApiScope.ExtraProperties[propertyInfo.Name]"
                                           label="@propertyInfo.GetLocalizedDisplayName(StringLocalizerFactory)"
                                           asp-format="@propertyInfo.GetInputFormatOrNull()"
                                           value="@propertyInfo.GetInputValueOrNull(Model.ApiScope.GetProperty(propertyInfo.Name))" />
                            }
                        }
                    }
                </abp-tab>
                @{
                    var id = "Claims" + Guid.NewGuid().ToString();
                    <abp-tab title="@L["Claims"].Value">
                        <div class="card shadow-none bg-light">
                            <div class="card-body">

                                <abp-row>
                                    <abp-column size="_6">
                                        <abp-card>
                                            <abp-card-header>@L["OwnedClaims"]</abp-card-header>
                                            <abp-card-body style="height: 320px; overflow: auto;">
                                                @for (var i = 0; i < Model.AllClaims.Length; i++)
                                                {
                                                    var claim = Model.AllClaims[i];
                                                    var isOwned = Model.ApiScope.UserClaims.Contains(claim);
                                                    <button type="button" claim-name="@claim" class="ownedClaim btn btn-block btn-primary btn-sm mb-2 mt-0 text-truncate text-left" id="@(id + claim + "OwnedId")" style="@(isOwned ? "" : "display: none;")" abp-tooltip-bottom="@(claim.Length > 35 ? claim : "")">
                                                        <i class="fa fa-long-arrow-right"></i> @claim
                                                    </button>
                                                    <input id="@(id + claim + "InputId")" type="text" name="@("ApiScope.UserClaims[" + i + "]")" value="@(isOwned ? claim : "")" hidden />
                                                }

                                            </abp-card-body>
                                        </abp-card>
                                    </abp-column>

                                    <abp-column size="_6">
                                        <abp-card>
                                            <abp-card-header>@L["NotOwnedClaims"]</abp-card-header>
                                            <abp-card-body style="height: 320px; overflow: auto;">
                                                @foreach (var claim in Model.AllClaims)
                                                {
                                                    <button type="button" claim-name="@claim" class="otherClaim btn btn-block btn-outline-primary btn-sm mb-2 mt-0 text-truncate text-left" id="@(id + claim + "OtherId")" style="@(Model.ApiScope.UserClaims.Contains(claim) ? "display: none;" : "")" abp-tooltip-bottom="@(claim.Length > 35 ? claim : "")">
                                                        <i class="fa fa-long-arrow-left "></i> @claim
                                                    </button>
                                                }
                                            </abp-card-body>
                                        </abp-card>
                                    </abp-column>

                                </abp-row>
                            </div>
                        </div>
                    </abp-tab>
                }
                <abp-tab title="@L["Properties"].Value">
                    <h3>@L["Properties"]</h3>
                    <div class="pt-3 pb-5 clearfix">
                        <abp-row>
                            <abp-column size="_6">
                                <abp-input asp-for="SampleProperty.Key" />
                            </abp-column>
                            <abp-column size="_6">
                                <abp-input asp-for="SampleProperty.Value" />
                            </abp-column>
                        </abp-row>
                        <abp-button id="AddNewPropertyButton" button-type="Success" class="float-right mb-2">
                            <i class="fa fa-plus"></i> @L["AddNew"]
                        </abp-button>
                    </div>
                    <abp-table striped-rows="true" responsive-sm="true" id="PropertyTableId" style="@(Model.ApiScope.Properties.Length > 0 ? "" : "display: none;")">
                        <thead>
                            <tr>
                                <th scope="Column">@L["Key"]</th>
                                <th scope="Column">@L["Value"]</th>
                                <th scope="Column"></th>
                            </tr>
                        </thead>
                        <tbody id="PropertyTableBodyId">
                            @for (int i = 0; i < Model.ApiScope.Properties.Length; i++)
                            {
                                var property = Model.ApiScope.Properties[i];

                                <tr>
                                    <td>
                                        @property.Key
                                    </td>
                                    <td>
                                        @property.Value
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-danger deletePropertyButton float-right">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                    <td hidden>
                                        <input asp-for="@property.Key" id="@(Model.ApiScope.Properties[i].Key + "PropertyInput")" name="ApiScope.Properties[@i].Key"/>
                                        <input asp-for="@property.Value" abp-id-name="@Model.ApiScope.Properties[i].Value" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </abp-table>
                </abp-tab>
            </abp-tabs>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel | AbpModalButtons.Save)">
        </abp-modal-footer>
    </abp-modal>
</form>
<input hidden id="PropertyStartIndex" value="@Model.ApiScope.Properties.Length" />
