﻿@page
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Volo.Abp.AuditLogging.Web.Navigation
@using Volo.Abp.AuditLogging.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Pages.Shared.Components.AbpPageToolbar
@using Volo.Abp.AuditLogging.Web.Pages.AuditLogs
@inject IHtmlLocalizer<AuditLoggingResource> L
@model Volo.Abp.AuditLogging.Web.Pages.AuditLogs.IndexModel

@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["AuditLogs"].Value;
    PageLayout.Content.MenuItemName = AbpAuditLoggingMainMenuNames.GroupName;
}
@section scripts {
    <abp-script src="/Pages/AuditLogs/index.js" />
}
@section content_toolbar {
    @await Component.InvokeAsync(typeof(AbpPageToolbarViewComponent), new { pageName = typeof(IndexModel).FullName })
}
<abp-tabs>
    <abp-tab name="AuditLogging" title="@L["AuditLogs"].Value">
        <abp-card>
            <abp-card-body class="pb-lg-3">
                <form id="FilterFormId" method="post">
                    <abp-row>
                        <abp-column size-lg="_2" size-md="_6">
                            <abp-input asp-for="@Model.UserName" />
                        </abp-column>
                        <abp-column size-lg="_2" size-md="_6">
                            <abp-input asp-for="@Model.UrlFilter" />
                        </abp-column>
                        <abp-column size-lg="_2" size-md="_6">
                            <abp-input asp-for="@Model.MinExecutionDuration" label="@L["MinDuration"].Value" />
                        </abp-column>
                        <abp-column size-lg="_2" size-md="_6">
                            <abp-input asp-for="@Model.MaxExecutionDuration" label="@L["MaxDuration"].Value" />
                        </abp-column>
                        <abp-column size-lg="_2" size-md="_6">
                            <abp-select asp-for="@Model.HttpMethod" />
                        </abp-column>
                        <abp-column size-lg="_2" size-md="_6">
                            <abp-select asp-for="@Model.HttpStatusCode" />
                        </abp-column>
                    </abp-row>
                    <abp-row>
                        <abp-column size-lg="_3" size-md="_6">
                            <abp-input asp-for="@Model.ApplicationName" />
                        </abp-column>
                        <abp-column size-lg="_3" size-md="_6">
                            <abp-input asp-for="@Model.CorrelationId" />
                        </abp-column>
                        <abp-column size-lg="_3" size-md="_6">
                            <abp-select asp-for="@Model.HasException" />
                        </abp-column>
                        <abp-column size-lg="_3" size-md="_6">
                            <abp-button class="mt-md-4" size="Block" button-type="Primary" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </abp-button>
                        </abp-column>
                    </abp-row>
                </form>

            </abp-card-body>
        </abp-card>
        <abp-table striped-rows="true" id="AuditLogsTable" class="nowrap"></abp-table>
    </abp-tab>
    <abp-tab name="EntityChanges" title="@L["EntityChanges"].Value">
        <abp-card>
            <abp-card-body class="pb-lg-3">
                <form id="EntityChangesFilterFormId" method="post">
                    <abp-row>
                        <abp-column size-lg="_3" size-md="_6">
                            <abp-input asp-for="@Model.EntityChangeStartTime" name="startDate" type="text" class="datepicker" />
                        </abp-column>
                        <abp-column size-lg="_3" size-md="_6">
                            <abp-input asp-for="@Model.EntityChangeEndTime" name="endDate" type="text" class="datepicker" />
                        </abp-column>
                        <abp-column size-lg="_3" size-md="_6">
                            <abp-select asp-for="@Model.EntityChangeChangeType"
                                        name="entityChangeType"
                                        label="@L["ChangeType"].Value"
                                        asp-items="@Model.EntityChangeChangeTypeList" />
                        </abp-column>
                        <abp-column size-lg="_3" size-md="_6">
                            <abp-input asp-for="@Model.EntityChangeEntityTypeFullName"
                                       name="entityTypeFullName"
                                       label="@L["EntityTypeFullName"].Value" />
                        </abp-column>
                    </abp-row>
                    <abp-row>
                        <abp-column size-lg="_12" size-md="_12">
                            <abp-button class="mt-md-4" size="Block" button-type="Primary" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </abp-button>
                        </abp-column>
                    </abp-row>
                </form>
            </abp-card-body>
        </abp-card>
        <abp-table striped-rows="true" id="EntityChangesTable" class="nowrap"></abp-table>
    </abp-tab>
</abp-tabs>